################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dsci644/bin
/.vs
/dsci644/obj/Debug
/model/bin/Debug
/model/obj/Debug
/packages
/utilities/obj/Debug
/aws/bin/Debug
/aws/obj/Debug
/tests/obj/Debug
/utilities/bin/Debug
/aws/obj/App.config
/aws/bin
/model/bin
/UnitTestProject1/bin/Debug
/UnitTestProject1/obj/Debug
/utilities/bin/x64/Debug
/utilities/bin/x86/Debug
/tests/bin/Debug
/utilities/obj
/tests/bin
/tests/obj
/NUnit.Tests1
/aws/obj
/dsci644/obj
/model/obj
