################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dsci644/bin
/.vs
/dsci644/obj/Debug
/model/bin/Debug
/model/obj/Debug
/packages
/utilities/obj/Debug
/aws/bin/Debug
/aws/obj/Debug
/tests/obj/Debug
/utilities/bin/Debug
/aws/obj/App.config
